<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device=width, initial-scale=1.0, maximum-scale=1.0" />
    <title>New Testament Hangman</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <div class="cont" id="app">
        <hr/>
        <div class="top-cont">
            <div class="secret">Secret Message</div>
            <div class="secret">Secret Message</div>
            <div class="title">
                {{title}}
            </div>
            <button class="button-19" role="button" @click="reset">Reset</button>
            <div class="secret">Secret Message</div>
        </div>
        <hr/>

        <div class="middle-cont">
            <div class="win-message" v-if="userWon">
                <p><strong>Congratulations! You guessed the word correctly!</strong></p>
                <p><strong>Want to play again? Click the </strong>
                    <span class="reset-msg">
                        <strong>Reset Button!</strong>
                    </span>
                </p>
            </div>
            <div class="hangman-word word-to-guess" v-if="!userLost">
                {{displayWord}}
            </div>
            <div class="hangman-word" v-else>
                <span class="lost-message">Sorry, you lost! The word was:</span><br />
                <span class="word-to-guess">{{wordToGuess}}</span>
            </div>

            <div class="hangman-pic-cont">
                <div class="guesses-left secret">
                    Guesses Remaining: {{guessesLeft}}
                </div>
                <div class="hangman-pic">
                    <canvas id="canvas">This Text will show if the Browser does NOT support HTML5 Canvas tag</canvas>
                </div>
                <div class="guesses-left">
                    Guesses Remaining: {{guessesLeft}}
                </div>
            </div>
        </div>
        <!-- TODO: possibly put guessesLeft above letters instead of to right -->
        <div class="bottom-cont">
            <div class="letters">
                <div class="letter" v-for="letter in letters" @click="guessLetter(letter)">{{letter.letter}}</div>
                <!-- <button class="button-64" role="button" v-for="letter in letters" @click="guessLetter(letter)">
                    <span class="text">{{letter.letter}}</span></button> -->
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>